.entry {
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  max-width: 50rem;
}

.entry__image {
  width: 30%;
  min-width: 160px;
}

.entry__content {
  align-content: center;
  padding: 0 1.5rem;
  width: 70%;
}

.entry__content {
  width: 70%;
  padding: 0 2rem;
}

.entry__content * {
  margin: 0;
  margin-bottom: 0.25rem;
}

.entry__title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #000000;
}

.entry__title:hover {
  color: #818181;
}

.entry__title a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.entry__author {
  font-size: 0.8rem;
}

.entry__status {
  display: flex;
  align-items: center;
}

.entry__ratings {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.entry__rating {
  margin-right: 20px;
}

.entry__description-content {
  max-height: 3rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.entry__description-more {
  text-align: right;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  .entry {
    display: block;
    text-align: center;
  }

  .entry__image {
    margin: 0 auto;
  }

  .entry__content {
    margin: auto;
  }

  .entry__description-more {
    text-align: center;
  }
}
