node_modules
.vscode
## START REACT GITIGNORE ##
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/package/client/node_modules
/package/client/.pnp
/package/client/.pnp.js

# testing
/package/client/coverage

# production
/package/client/build

# misc
/package/client/.DS_Store
/package/client/.env.local
/package/client/.env.development.local
/package/client/.env.test.local
/package/client/.env.production.local

/package/client/npm-debug.log*
/package/client/yarn-debug.log*
/package/client/yarn-error.log*

## END REACT GITIGNORE ##

## START SERVER GITIGNORE ##
/package/server/node_modules
## END SERVER GITIGNORE ##

