.image {
  /* height: 100%; */
  display: block;
  margin: auto;
  width: 100%;
  min-width: 1rem;
  max-width: 10rem;
  background-image: url('http://www.clker.com/cliparts/t/r/j/z/w/i/no-camera-allowed-hi.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
}
